@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;700&display=swap');

:root {
    --body-bg-color: #191B1D;
    --body-bg-shade: rgba(30, 30, 30, 0.36);
    --primary-basic: #FFFFFF;
    --secondary-basic: rgba(255, 255, 255, 0.8);
    --tertiary-basic: rgba(255, 255, 255, 0.64);
    --caption-basic: rgba(255, 255, 255, 0.32);
    --disabled-basic: rgba(255, 255, 255, 0.24);
    --slight-basic: rgba(255, 255, 255, 0.12);
    --primary-accent: #00a6ff;
    --link-color: var(--primary-accent);
}

/* Light mode styles */
[data-theme="light"] {
    --body-bg-color: #FFFFFF;
    --body-bg-shade: rgba(255, 255, 255, 0.32);
    --primary-basic: #1B1C1E;
    --secondary-basic: rgba(30, 30, 30, 0.88);
    --tertiary-basic: rgba(30, 30, 30, 0.76);
    --caption-basic: rgba(30, 30, 30, 0.68);
    --disabled-basic: rgba(30, 30, 30, 0.36);
    --slight-basic: rgba(30, 30, 30, 0.2);
    --primary-accent: #0077cc;
    --link-color: var(--primary-accent);
}

body {
    font-family: 'Urbanist', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: var(--body-bg-color);
    color: var(--primary-basic);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100vh;
}

* {box-sizing: border-box;}

/* Background */
.bg-container {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }


.bg-video {
    height: 100vh;
}

.bg-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;

    z-index: 1;
    background:  radial-gradient(99.99% 100% at 100% 0%, var(--body-bg-shade) 0%, var(--body-bg-color));
}


[data-theme="light"] .bg-video {filter: invert(100%) hue-rotate(140deg);}

@media (prefers-reduced-motion: reduce) {
.bg-video {
    display: none;
}
}



/* Typography */

.text-primary {
    color: var(--primary-basic);
}

.text-secondary {
    color: var(--secondary-basic);
}

.text-tertiary {
    color: var(--tertiary-basic);
}

.text-caption {
    color: var(--caption-basic);
}

.text-disabled {
    color: var(--disabled-basic);
}

.text-slight {
    color: var(--slight-basic);
}

/* Desktop */
/* H1: used for main headings */
h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0px;
}

/* H2: used for subheadings */
h2 {
    font-size: 32px;
    font-weight: bold;
    margin: 0px;
}

/* H3: used for section headings */
h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
}

/* H4: used for sub-section headings */
h4 {
    font-size: 18px;
    font-weight: bold;
    margin: 0px;
}

a {
    color: var(--link-color);
}

.active-text {
    font-size: 18px;
    font-weight: bold;
    margin: 0px;
}

/* Large text: used for emphasis or call to action */
.large-text {
    font-size: 18px;
    font-weight: normal;
}

/* Medium text: used for main body text */
.medium-text {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
}

/* Small text: used for captions, labels, and smaller text */
.small-text {
    font-size: 14px;
    font-weight: normal;
}

.caption {
    font-size: 14px;
    font-weight: normal;
    color: var(--caption-basic);
}

/* Footnote: used for fine print or footnotes */
.footnote {
    font-size: 11px;
    font-weight: normal;
    color: var(--caption-basic);
}

/* Mobile */
@media (max-width: 768px) {
    /* H1: used for main headings */
    h1 {
        font-size: 32px;
        font-weight: bold;
        margin: 0px;
    }
  
    /* H2: used for subheadings */
    h2 {
      font-size: 24px;
      font-weight: bold;
      margin: 0px;
    }
  
    /* H3: used for section headings */
    h3 {
      font-size: 18px;
      font-weight: bold;
      margin: 0px;
    }
  
    /* H4: used for sub-section headings */
    h4 {
      font-size: 14px;
      font-weight: bold;
      margin: 0px;
    }
  
    .active-text {
        font-size: 14px;
        font-weight: bold;
        color: var(--tertiary-basic);
        margin: 0px;
    }
    active-text:hover {
        color: var(--primary-basic);
    }
    

    /* Large text: used for emphasis or call to action */
    .large-text {
      font-size: 18px;
      font-weight: normal;
    }
  
    /* Medium text: used for main body text */
    .medium-text {
      font-size: 16px;
      font-weight: normal;
      line-height: 1.5;
    }
  
    /* Small text: used for captions, labels, and smaller text */
    .small-text {
      font-size: 14px;
      font-weight: normal;
    }

    .caption {
      font-size: 14px;
      font-weight: normal;
      color: var(--caption-basic);
    }
    
    /* Footnote: used for fine print or footnotes */
    .footnote {
      font-size: 12px;
      font-weight: normal;
      color: var(--caption-basic);
    }
  }
  


/* UI */
.desktop-nav{
    background-color: var(--body-bg-color);
    border-right: 1px solid var(--slight-basic);
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 64px 32px;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.sidebar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;
}

.sidebar-header img {
    max-width: 44px;
}

.logo-text {
    margin: 0;
    padding: 0;
    color: var(--primary-basic);
    text-align: left;
    white-space: nowrap;
  }

nav {
    flex: 1;
    margin-top: 20px;
    align-self: stretch;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 10px 0;
}

nav a {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    font-weight: 700;
    color: var(--caption-basic);
    text-decoration: none;
    gap: 12px;
    margin: 0 -12px;
    border-radius: 12px;
}

nav a:hover {
    background-color: var(--slight-basic);
    color: var(--primary-basic);
}

nav i {
    font-size: 1.2rem;
    margin-right: 10px;
}

nav ul li a.active {
    color: var(--primary-color);
  }

.dropdown-menu {
  display: none;
}
.dropdown-menu.show {
  display: block;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    font-weight: 700;
    color: var(--caption-basic);
    text-decoration: none;
    gap: 12px;
    margin: 0 -12px;
    border-radius: 12px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-toggle:hover {
    background-color: var(--slight-basic);
    color: var(--primary-basic);
  }
  
  .dropdown-item {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    font-weight: 700;
    color: var(--caption-basic);
    text-decoration: none;
    gap: 12px;
    margin: 0 -12px;
    border-radius: 12px;
  }
  
  .dropdown-item:hover {
    background-color: var(--slight-basic);
    color: var(--primary-basic);
  }
  
  .dropdown-item.active,
  .dropdown-item:active {
    background-color: var(--primary-basic);
    color: #fff;
  }
  
  .dropdown-item.active .icon {
    color: #fff;
  }
  

.menu-toggle {
    display: none;
}

.mobile-nav {
    display: none;
}


.mobile-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
    transition: ease-in 0.1s;
    z-index: 99;
}

.mobile-menu.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--body-bg-color);
}


main {
    /* margin-left: 250px; */
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    padding: 64px;
    gap: 32px;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
    max-width: 100%;
}

section {
    line-height: 1.5;
}


@media (max-width: 768px) {
    aside {
        width: 100%;
        height: auto;
        position: absolute;
        padding: 32px;
    }

    main {
        margin-left: 0;
        padding: 32px;
    }
    .menu-toggle {
        display: block;
        margin-left: auto;
    }
    .hamburger {
        display: block;
        width: 24px;
        height: 3px;
        background-color: #000;
        margin: 4px 0;
    }
    .desktop-nav {
        display: none;
    }
    .mobile-nav {
        display: block;
    }
    nav a {
        margin: 0px;
    }
    

    .sidebar-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 12px;
        margin: 12px;
        gap: 12px;
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        border: 1px solid transparent;
        border-radius: 12px;
        z-index: 100;
        background-clip: padding-box;
    }
    .sidebar-header:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -1px;
        border-radius: inherit;
        background: linear-gradient(180deg, var(--disabled-basic) 0%, var(--slight-basic) 74.04%);
        /* background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0.04) 74.04%); */
      }
    .sidebar-header:after {
        content: '';
        background-color: var(--body-bg-color);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: inherit;
        z-index: -1;
        transition: background-color 0.3s ease;
      }
      .sidebar-header:hover:after {
        background-color: var(--body-bg-shade);
      }
      .sidebar-header:active:after {
        size: 0.9;
      }

      .sidebar-header img {
        max-width: 32px;
      }
      /* [data-theme="light"] .sidebar-header:before {} */
    }


.button-md a {
    display: inline-block;
    background-color: var(--primary-accent);
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    padding: 8px 16px;
    border-radius: 30px;
    transition: background-color 0.3s;
    margin-top: 1rem;
}

.button-md a:hover {
    background-color: #094c8e;
}

/* Switcher */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* Projects -- --------------*/
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 24px;
    margin-top: 24px;
  }
  
  .card {
    position: relative;
    background-color: var(--body-bg-color);
    box-shadow: 0px 0px 2px var(--slight-basic);
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.1s ease-out;
  }
  
  .card:hover {
    box-shadow: 0px 4px 8px var(--slight-basic);
  }
  
  .card-image {
    height: 200px;
    background-position: center;
    background-size: cover;
  }
  
  .card-title {
    margin: 10px 0;
    font-size: 1.2em;
  }
  
  .card-client {
    margin: 5px 0;
    font-size: 0.8em;
    color: #999;
  }
  
  .card-description {
    margin: 10px 0;
    font-size: 0.9em;
    color: #555;
  }
  



/* Icons -- Set Up ----------*/
.icon {
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
  }
  
  .icon.primary {
    opacity: 1;
  }
  
  .icon.secondary {
    opacity: 0.8;
  }
  
  .icon.tertiary {
    opacity: 0.64;
  }
  
  .icon.caption {
    opacity: 0.32;
  }
  
  .icon.disabled {
    opacity: 0.24;
  }
  
  .icon.slight {
    opacity: 0.12;
  }

.icon a:hover {
    opacity: 1;
}
 
a:hover .icon {
    opacity: 1;
  }

  /* Icons -- Images ----------*/
.icon.i-presentation {background-image: url(images/icons/presentation-chart-01.svg);}
[data-theme="light"] .icon.i-presentation {background-image: url(images/icons/presentation-chart-01-inv.svg);}

.icon.i-user {background-image: url(images/icons/user-edit.svg);}
[data-theme="light"] .icon.i-user {background-image: url(images/icons/user-edit-inv.svg);}

.icon.i-misc {background-image: url(images/icons/code-snippet-02.svg);}
[data-theme="light"] .icon.i-misc {background-image: url(images/icons/code-snippet-02-inv.svg);  }

.icon.i-stars {background-image: url(images/icons/stars-03.svg);}
[data-theme="light"] .icon.i-stars {background-image: url(images/icons/stars-03-inv.svg);}

.icon.i-menu {background-image: url(images/icons/menu-04.png);}
[data-theme="light"] .icon.i-menu {background-image: url(images/icons/menu-04-inv.png);}

.icon.i-dark-theme {background-image: url(images/icons/moon-02.svg);}
[data-theme="light"] .icon.i-dark-theme {background-image: url(images/icons/moon-02-inv.svg);}

.icon.i-light-theme {background-image: url(images/icons/sun.svg);}
[data-theme="light"] .icon.i-light-theme {background-image: url(images/icons/sun-inv.svg);}

.icon.i-default-theme {background-image: url(images/icons/lightbulb-01.svg);}
[data-theme="light"] .icon.i-default-theme {background-image: url(images/icons/lightbulb-01-inv.svg);}

