@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;700&display=swap');

body{
  font-family: 'Urbanist', sans-serif;
}

/* H1: used for main headings */
h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0px;
}

/* H2: used for subheadings */
h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0px;
}

/* H3: used for section headings */
h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0px;
}

/* H4: used for sub-section headings */
h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0px;
}

/* Primary text: used for main body text */
p {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

/* Secondary text: used for captions, labels, and smaller text */
small, .caption {
  font-size: 0.8rem;
  color: #999;
}

/* Smaller text: used for fine print or footnotes */
.footnote {
  font-size: 0.7rem;
  color: #777;
}

/* Bigger text: used for emphasis or call to action */
.lead {
  font-size: 1.2rem;
  font-weight: bold;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 720px;
  margin: auto;
}

.centrify-text {
  text-align: center;
}

.button-md a {
    display: inline-block;
    background-color: #0a66c2;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    padding: 8px 16px;
    border-radius: 30px;
    transition: background-color 0.3s;
    margin-top: 1rem;
}

.button-md a:hover {
    background-color: #094c8e;
}

.kitties {
    text-align: center;
    margin-top: 128px;
}

.kitties-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.kitties-images img:hover {
    animation: jump 0.3s ease-out;
  }
  
  @keyframes jump {
    0% {
        transform: translateY(0px);
      }
    50% {
      transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
      }
    
}
.kitties-instagram {
    margin-top: 24px;
}
  
.kitties-instagram a {
    display: inline-block;
    background-color: #1da1f2;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    padding: 8px 16px;
    border-radius: 30px;
    transition: background-color 0.3s;
}

.kitties-instagram a:hover {
    background-color: #0d8de8;
}
